@font-face {
    font-family: 'Vazirmatn';
    src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2');
}

body {
    font-family: 'Vazirmatn', sans-serif;
    user-select: none;
    background: radial-gradient(circle at top right, #1e1b4b, #0f172a);
}

.weekly-gradient {
    background: linear-gradient(135deg, #2563eb 0%, #1e40af 100%);
}

.monthly-gradient {
    background: linear-gradient(135deg, #9333ea 0%, #581c87 100%);
}

.nav-item.active i {
    filter: drop-shadow(0 0 10px white);
}

/* افکت شیشه‌ای برای المان‌ها */
.backdrop-blur-xl {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* حذف اسکرول‌بار */
::-webkit-scrollbar { width: 0; }

.hidden { display: none !important; }
